<ion-header>
  <ion-toolbar>
    <ion-title>Converti le tue misurazioni in modo rapido con il nostro sensazionale tool di conversione omega wow!!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-row>
        <ion-card>
          <ion-row  id="temperatura">
            <h1>Temperatura</h1> 
          </ion-row>
        <ion-row>       
          <ion-label>
            <ion-select placeholder="Scegli unità di misura" [(ngModel)]="unitaUno">
              <ion-select-option value="C">°C</ion-select-option>
              <ion-select-option value="F">°F</ion-select-option>
            </ion-select>
          </ion-label>
          <ion-label>
            <ion-select id="secSelect" placeholder="Scegli unità di misura" [(ngModel)]="unitaDue">
              <ion-select-option value="C">°C</ion-select-option>
              <ion-select-option value="F">°F</ion-select-option>
            </ion-select>
          </ion-label>
       </ion-row>
      
       <ion-row>
          <ion-label>
            <ion-input type="text" placeholder="0" (keyup)="convTempCeToFa()" [(ngModel)]="misuraUno"></ion-input>
          </ion-label>
          <ion-label>
            <ion-input type="text" placeholder="0" (keyup)="convTempFaToCe()" [(ngModel)]="misuraDue"></ion-input>
          </ion-label>
       </ion-row>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-row id="distanza">
          <h1>Distanza</h1> 
        </ion-row>
        <ion-row>                
          <ion-label>
            <ion-select placeholder="Scegli unità di misura" [(ngModel)]="unitaUno">
              <ion-select-option value="Km">Km</ion-select-option>
              <ion-select-option value="Mi">Mi</ion-select-option>
            </ion-select>
          </ion-label>
          <ion-label>
            <ion-select id="fouSelect" placeholder="Scegli unità di misura" [(ngModel)]="unitaDue">
              <ion-select-option value="Km">Km</ion-select-option>
              <ion-select-option value="Mi">Mi</ion-select-option>
            </ion-select>
          </ion-label>
       </ion-row>
       <ion-row>
         <ion-label>
          <ion-input type="text" placeholder="0" (keyup)="convDistKmToMi()" [(ngModel)]="misuraUno"></ion-input>
          </ion-label>
          <ion-label>
          <ion-input type="text" placeholder="0" (keyup)="convDistMiToKm()" [(ngModel)]="misuraDue"></ion-input>
        </ion-label>
     </ion-row>
      </ion-card>
    </ion-row>
</ion-content>