#temperatura{
    position:relative;
    left: 25%;
}
#distanza{
    position:relative;
    left: 32%;    
}
#secSelect{
    position:relative;
    left: 5%;
}
#fouSelect{
    position:relative;
    left: 5%;
}