#temperatura{
    position:relative;
    left: 25%;
}
#distanza{
    position:relative;
    left: 32%;    
}
#secSelect{
  position:absolute;
  left: 50%;
}
#fouSelect{
    position:absolute;
    left: 50%;
}