
      ion-content {
    
     --background: url("/assets/bg6.jpg") no-repeat center center/cover;
}


  .logo {
  display: flex;
  justify-content: center;
  padding-top: 7%;

}

.figlio{
    min-width: 250px;
    height: 100%;
    font: size 2em;   
}
 
